<%- partial('_partial/head') %>

  <body>
    <iframe class="musicPlayer" frameborder="no" marginwidth="0" marginheight="0" width=330 height=100
      src="//music.163.com/outchain/player?type=0&id=8222072696&auto=1&height=430"></iframe>
    <main class="content">
      <%- body %>
        <%- partial('_partial/footer') %>
    </main>
    <aside class="sidebar">
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    </aside>
    <%- partial('_partial/after-footer') %>
  </body>

  </html>